<div id="sidebar_container">
        
        <div class="sidebar">
         <div class="form-style-2">
                <form (ngSubmit)="processForm()"  #form="ngForm">
                    <ul id="myForm">
                        <li><label for="field4"><span>author</span>
                                <select name="artist" [(ngModel)]="artworkSearch.artist" class="select-field">
                                    <option *ngFor="let artist of artistsComboValues" [value]="artist">  
                                        {{artist}}
                                    </option> 
                                </select>
                            </label>
                        </li><br/><br />
                        <li><label for="field4"><span>museum</span>
                                <select name="artist" [(ngModel)]="artworkSearch.museum" class="select-field">
                                    <option *ngFor="let museum of museumsComboValues" [value]="museum">  
                                        {{museum}}
                                    </option> 
                                </select>
                            </label>
                        </li><br /><br />
                        <li><label for="field4"><span>location</span>
                                <select name="artist" [(ngModel)]="artworkSearch.city" class="select-field">
                                    <option *ngFor="let city of citiesComboValues" [value]="city">  
                                        {{city}}
                                    </option> 
                                </select>
                            </label>
                        </li><br /><br />
                        <li><label for="field4"><span>country</span>
                                <select name="country" [(ngModel)]="artworkSearch.country" class="select-field">
                                    <option *ngFor="let city of countrieComboValues" [value]="country">  
                                        {{country}}
                                    </option> 
                                </select>
                            </label>
                        </li><br /><br />
                        <li><label for="field4"><span>medium</span>
                               <select name="medium" [(ngModel)]="artworkSearch.medium" class="select-field">
                                    <option *ngFor="let city of mediumsComboValues" [value]="medium">  
                                        {{medium}}
                                    </option> 
                                </select>
                            </label>
                        </li><br /><br />
                        <li><label for="field4"><span>style/period/culture</span>
                                <select name="period" [(ngModel)]="artworkSearch.period" class="select-field">
                                    <option *ngFor="let city of periodsComboValues" [value]="period">  
                                        {{period}}
                                    </option> 
                                </select>
                            </label>
                        </li><br />
                    </ul>
        
                    <label><span>&nbsp;</span><button type="submit" id="submitBtn">Filter</button></label>
                </form> 
        </div>
        </div>
      </div>
      <div class="content">
        <ul>
            <li *ngFor="let artwork of artworks">
                <a href="#" [routerLink]="['/artworks', artwork.id]">
                    
                 <div class="img">
                <a target="_blank" href="fjords.jpg">
                    <img src="{{artwork.imageUrl}}" width="300" height="200">
                </a>
                <div class="desc">{{artwork.title}}</div>
                </div>
                </a>

            </li>
    </ul>
       


      
    </div>
       
