<div id="sidebar_container">
    <div class="imageImportant" *ngIf="artwork">
        <img src="{{artwork.imageUrl}}" height="300" width="400" />
    </div>
    <div class="sidebar" *ngIf="artwork">
        <div class="form-style-2">
            <form action="" method="post">
                <ul id="myForm">
                    <li><label for="field4"><span>author</span>
                                <span name="field4"> {{artwork.author}} </span>
                            </label>
                    </li><br/><br />
                    <li><label for="field4"><span>museum</span>
                                <span name="field4"> {{artwork.museum}} </span>
                            </label>
                    </li><br /><br />
                </ul>
            </form>
        </div>
    </div>
</div>
<a *ngIf="artwork" href="#" [routerLink]="['/provenance', artwork.id]">
    <div class="provenance">
        <div class="revisions">
            <div id="wrap">
                <div class="line" id="line1"></div>
                <div class="text">700128359</div>
            </div>
            <div id="wrap">
                <div class="line" id="line2"></div>
                <div class="text">700128358</div>
            </div>
            <div id="wrap">
                <div class="line" id="line3"></div>
                <div class="text">700128357</div>
            </div>
            <div id="wrap">
                <div class="line" id="line4"></div>
                <div class="text">700128356</div>
            </div>
        </div>
    </div>
</a>
<div class="content">
    <div *ngIf="artwork">
        <h1 id="title">{{artwork.title}}</h1>
        <p>{{artwork.abstract}}</p>
    </div>
</div>

<div class="contentProv" *ngIf="provenances" style="clear: left">
    <h2>Provenance</h2>
     <ul class="provenances">
         <li class="provenanceDetails" *ngFor="let provenance of provenances">
             <span class="dateAcquired" style="border: 1px solid #DC143C; padding: 5px; margin-right: 5px">{{provenance.dateAcquired}}</span>
             <span class="ownedBy" style="border: 1px solid #DC143C; padding: 5px; margin-right: 5px">{{provenance.ownedBy}}</span>
             <span class="location" style="border: 1px solid #DC143C; padding: 5px; margin-right: 5px">{{provenance.location}}</span>
         </li>
    </ul>  
</div>

<h2>Similar artworks</h2>
<div class="similarArtworks" style="display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;">
    <div *ngFor="let relatedArtwork of relatedArtworks" style="margin-right: 10px;">
        <img src="{{relatedArtwork.imageUrl}}" alt="" style="max-height: 300px; max-width: 200px;" />
    </div>
</div>  