 <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ArK</a></h1>
          <h2 id="subtitle">Artwork Provenance</h2>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="selected listParent"><a href="index.html" class="primal">Artist</a></li>
          <li class="listParent"><a href="#" class="primal">Style/Period/Culture</a></li>
          <li class="listParent"><a href="#" class="primal">Time Period</a></li>
          <li class="listParent"><a href="#" class="primal">Country</a>
            <ul>
              <li><a href="#">Romania</a></li>
              <li><a href="#">France</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div id="site_content">
       <router-outlet></router-outlet>
    </div>
    <footer>
      <p></p>
    </footer>
  </div>
 
